* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; /* Use full height of viewport */
}

body {
    font-family: 'Inter', sans-serif;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
    flex-grow: 1; /* Allow the wrapper to grow to fill remaining space */
}

.header, .footer {
    border-bottom: 1px solid black;
    height: 61px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 0 22px;
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav {
    width: 357px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.product_anchor {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
}

.main {
    background-color: white;
    flex-grow: 1;
    min-height: calc(100% - 122px); /* Subtract header and footer heights */
}

.section_1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    padding: 17px 283px 45px 283px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 15px;
}

.section_1 p {
    font-size: 16px;
}

.section_2 {
    display: flex;
    margin: 0 104px;
    justify-content: space-between;
}

.card {
    background-color: #F5F5F5;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
}

.card-header {
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 14px;

}

.card-body {
    padding-top: 15px;
    padding-bottom: 13px;
}

.card-body h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 15px;
}

.card-body p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

button {
    border-radius: 10px;
    width: 136px;
    height: 35px;
    background-color: #C0E8FF;
    border: none;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    bottom: -13px;
}

.section_3 {
    text-align: center;
    padding: 58px 270px;
}

h2 {
    font-weight: 700;
    font-size: 32px;
}
table{
    margin-top: 46px;
    width: 480px;
    border-collapse: collapse;
    font-size: 12px;
    line-height: 16px;
}
table, th,tr,td{
    border: 1px solid #B9B9B9;
}
.col-1, .col-2, .col-3, .col-4{
    width: 25%;
    padding: 10px 12px;
    background-color: rgba(0, 0, 0, 0.06);
}
.option{
    padding: 10px 12px;
}

.footer {
    border-bottom: none;
    border-top: 1px solid black;
    flex-shrink: 0; /* Prevent footer from shrinking */
}

.nav_footer {
    display: flex;
    justify-content: space-between;
    width: 690px;
}



